body {
    background-color: #FEFEFE;
}
.spectograph__container {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.spectograph__item {
    width: 100%;
    height: 100%;
    background: url('../media/ravecat.gif') center bottom no-repeat;
    background-size: contain;
    background-color: #FFF;
}
.spectograph__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}
.audioPlayer {
    position: fixed;
    top: 5px;
    left: 5px;
}